---
import Layout from "../layouts/layout.astro";
import Contact from "../components/Contact.astro";
---

<Layout>
  <main class="relative pb-7">
    <div
      class="flex h-[200px] w-full flex-col items-center justify-center bg-secondary-300"
    >
      <h1
        class="font-heebo text-4xl font-bold text-white sm:text-5xl lg:text-6xl"
      >
        אודות פרופ' מריאנה רחמיאל
      </h1>
    </div>
    <div class="flex flex-col gap-3 px-5 pt-8 xl:mx-auto xl:w-3/5">
      <div class="flex flex-1 flex-grow flex-col gap-x-6 md:flex-row">
        <div class="order-2 space-y-4 text-gray-500">
          <h3
            class="font-heebo text-3xl font-bold text-primary-900 lg:text-4xl"
          >
            פרופ' מריאנה רחמיאל
          </h3>
          <p class="md:text-right md:text-xl">
            מומחית באנדוקרינולוגיית ילדים, ומומחית ברפואת ילדים. מנהלת היחידה
            לאנדוקרינולוגיה ילדים מנהלת המרפאה הרב תחומית לסוכרת ילדים ונוער
            המרכז הרפואי אסף הרופא.
          </p>
          <p class="md:text-right md:text-xl">
            מרצה בכירה, בית הספר לרפואה אוניברסיטת תל אביב.
          </p>
        </div>
        <div class="order-1 mx-auto w-1/2 md:order-3 md:w-full">
          <img src="/profmarianna/img.png" alt="" class="" />
        </div>
      </div>
      <div
        class="flex flex-col gap-y-3 md:grid md:grid-cols-2 md:gap-x-6 md:gap-y-0"
      >
        <div class="">
          <h3 class="font-heebo text-3xl font-bold text-primary-900">
            תחומי טיפול
          </h3>
          <ul
            class="mx-auto flex flex-col items-center justify-center gap-1 text-lg md:w-3/4 md:flex-row md:flex-wrap"
          >
            <li
              class="block w-fit cursor-default rounded-xl bg-gray-100 bg-opacity-20 px-5 py-2 transition-all ease-in hover:scale-105 hover:bg-gray-300 hover:bg-opacity-40"
            >
              טיפול בסוכרת ילדים
            </li>
            <li
              class="block w-fit cursor-default rounded-xl bg-gray-100 bg-opacity-20 px-5 py-2 transition-all ease-in hover:scale-105 hover:bg-gray-300 hover:bg-opacity-40"
            >
              השמנה
            </li>
            <li
              class="block w-fit cursor-default rounded-xl bg-gray-100 bg-opacity-20 px-5 py-2 transition-all ease-in hover:scale-105 hover:bg-gray-300 hover:bg-opacity-40"
            >
              הפרעות בהתבגרות מינית
            </li>
            <li
              class="block w-fit cursor-default rounded-xl bg-gray-100 bg-opacity-20 px-5 py-2 transition-all ease-in hover:scale-105 hover:bg-gray-300 hover:bg-opacity-40"
            >
              הפרעות בגדילה
            </li>
            <li
              class="block w-fit cursor-default rounded-xl bg-gray-100 bg-opacity-20 px-5 py-2 transition-all ease-in hover:scale-105 hover:bg-gray-300 hover:bg-opacity-40"
            >
              מחלות של בלוטת התריס
            </li>
            <li
              class="block w-fit cursor-default rounded-xl bg-gray-100 bg-opacity-20 px-5 py-2 transition-all ease-in hover:scale-105 hover:bg-gray-300 hover:bg-opacity-40"
            >
              הפרעות בתפקוד יותרת המוח
            </li>
            <li
              class="block w-fit cursor-default rounded-xl bg-gray-100 bg-opacity-20 px-5 py-2 transition-all ease-in hover:scale-105 hover:bg-gray-300 hover:bg-opacity-40"
            >
              איחור והפרעות במחזור
            </li>
            <li
              class="block w-fit cursor-default rounded-xl bg-gray-100 bg-opacity-20 px-5 py-2 transition-all ease-in hover:scale-105 hover:bg-gray-300 hover:bg-opacity-40"
            >
              שיעור יתר
            </li>
          </ul>
        </div>
        <div class="">
          <h3 class="font-heebo text-3xl font-bold text-primary-900">
            הכשרה מקצועית
          </h3>
          <ul class="list-['-'] space-y-2 text-right xl:text-lg">
            <li>
              פרופ' רחמיאל היא מנהלת המכון לאנדוקרינולגיה ילדים במרכז הרפואי
              שמיר (אסף הרופא)
            </li>
            <li>
              סיימה בהצטיינות את לימודי הרפואה בבית הספר לרפואה ע"ש סאקלר,
              אוניברסיטת תל אביב בשנת 1995.
            </li>
            <li>
              סיימה בהצטיינות התמחות ברופאת ילדים בחטיבת הילדים במרכז הרפואי אסף
              הרופא בשנת 2004.
            </li>
            <li>
              פרופ' רחמיאל התמחתה בתחום אנדוקרינולגיה ילדים באוניברסיטת טורונטו,
              קנדה ובבית החולים לילדים- SickKids Hospital. הגדול ביותר בצפן
              אמריקה, וסיימה הבחינות בהצטיינות בישראל ב 2006.
            </li>
            <li>
              פרופ' רחמיאל השתלמה בתחום אנדוקרינולגיה וגניקולוגיה של נערות בשנת
              2015, במונטפלייה , צרפת.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <Contact />
  </main>
</Layout>
