---
import Layout from "../layouts/layout.astro";
---

<Layout title="הצהרת נגישות">
  <main class="space-y-10 py-10 max-w-screen-lg mx-auto font-sans">
    <h1 class="font-heebo text-2xl">הצהרת נגישות</h1>
    <p class="">
      אנו רואים חשיבות רבה במתן שירות שוויוני לכלל הלקוחות והגולשים ובשיפור
      השירות הניתן ללקוחות ולגולשים עם מוגבלות. לפיכך אנו משקיעים משאבים רבים
      בהנגשת האתר שלנו על מנת להפוך אותו לזמין יותר עבור אנשים עם מוגבלות.
    </p>
    <h2 class="text-xl">נגישות אתר האינטרנט</h2>
    <p class=" text-right">
    הנגשת האתר נועדה להפוך אותו לזמין, ידידותי ונוח יותר לשימוש עבור אנשים עם צרכים מיוחדים, הנובעים בין היתר ממוגבלויות מוטוריות שונות, לקויות קוגניטיביות, קוצר רואי, עיוורון או עיוורון צבעים, לקויות שמיעה וכן אנשים בני הגיל השלישי.<br>
אנו עושים מאמצים שהאתר שלנו יעמוד בדרישות תקנות שיוויון זכויות לאנשים עם מוגבלות (התאמות נגישות לשירות) התשע"ג 2013, ברמת התקן הנדרש. כמו כן, אנו מיישמים את המלצות מסמך WCAG2.0 מאת ארגון W3C.<br>
תיקונים והתאמות שבוצעו:<br>
* האתר מותאם לדפדפנים הנפוצים<br>
* האתר מותאם לשימוש בטלפון הסלולרי.<br>
* האתר מותאם לתצוגה תואמת מגוון מסכים ורזולוציות.<br>
* אמצעי הניווט באתר פשוטים וברורים.<br>
* תכני האתר כתובים באופן ברור, מסודר והיררכי.  <br>
* תוכן האתר כתוב בשפה פשוטה וברורה.<br>
* כל הדפים באתר בעלי מבנה קבוע.<br>
* למרבית התמונות באתר יש הסבר טקסטואלי חלופי (alt).<br>
* האתר מאפשר שינוי גודל הגופן על ידי שימוש במקש Ctrl ומקש + במקלדת<br>
* אין באתר שימוש בתצוגת טקסט נע או מהבהב.<br>
חשוב לציין, כי למרות מאמצינו להנגיש את כלל הדפים באתר, ולמרות פעילותינו לשפר את נגישות האתר - ייתכן שיתגלו חלקים או יכולות שלא הונגשו כראוי או שטרם הונגשו.<br>
אם נתקלתם בבעיה בנושא נגישות באתר, נשמח אם תכתבו לנו, באמצעות פנייה לרכז הנגישות שלנו במייל rmarianna@gmail.com.<br>
כדי שנוכל לטפל בבעיה בדרך הטובה ביותר, אנו ממליצים מאוד לצרף פרטים מלאים ככל שניתן:<br>
* תיאור הבעיה<br>
* מהי הפעולה שניסיתם לבצע<br>
* קישור לדף בו גלשתם<br>
* סוג הדפדפן וגרסתו<br>
* מערכת הפעלה<br>
* סוג הטכנולוגיה המסייעת (במידה והשתמשתם)<br>
אנו נעשה ככל שביכולתנו על מנת להנגיש את האתר בצורה המיטבית ולענות לפניות בצורה המקצועית והמהירה ביותר.<br>
פרטי רכז הנגישות במשרדנו:<br>
שם: מריאנה רחמיאל<br>
טלפון: 0537346636<br>
דוא”ל: rmarianna@gmail.com<br>
הצהרת הנגישות עודכנה ביום: 06/07/2023<br>
</p>
  </main>
</Layout>
