<div class="mb-4 mt-8 space-y-4 bg-gray-100 py-5 shadow-xl lg:py-20">
  <h1 class="font-heebo text-5xl font-bold text-primary-500 md:text-6xl">
    צרו קשר עם פרופ' מריאנה רחמיאל
  </h1>
  <a class="font-heebo text-4xl font-bold text-action md:text-5xl">
    073-7823587
  </a>
  <h1 class="font-heebo text-3xl font-bold text-action md:text-5xl lg:text-4xl">
    prof.rachmiel@gmail.com
  </h1>
</div>
